{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off",
    "linebreak-style": "off",
    "no-alert": "off",
    "global-require": "off",
    "no-plusplus": "off"
  },
  "globals": {
    "fetch": false,
    "alert": false,
  }
}